<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LoginLogout</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>ap1.getpost.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/gethandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TestServletHandler</servlet-name>
    <servlet-class>ap1.getpost.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletHandler</servlet-name>
    <url-pattern>/testHandler</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>ap1.getpost.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/posthandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenericServletImpl</servlet-name>
    <servlet-class>ap2.genericServlet.GeneriServletDemo</servlet-class>
    <init-param>
    	<param-name>ad</param-name>
    	<param-value>asdf</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletImpl</servlet-name>
    <url-pattern>/genericServletImpl</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>location</param-name>
    <param-value>D:/uploads/</param-value>
  </context-param>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>ap5.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/dashboard</url-pattern>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
</web-app>